@media screen and (max-width: 320px) {
  /* styles here */
}

/* Most smartphones */
@media screen and (max-width: 480px) {
  /* styles here */
}

/* Larger phones / phablets */
@media screen and (max-width: 600px) {
  /* styles here */
}
.large-font{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.small-font {
  font-size: 1rem;    /* 14px */
  line-height: 1.25rem;   /* 20px */
}

.custom-shadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
html {
  scroll-behavior: smooth;
}