@media screen and (max-width: 320px) {
  /* styles here */
}

/* Most smartphones */
@media screen and (max-width: 480px) {
  /* styles here */
}

/* Larger phones / phablets */
@media screen and (max-width: 600px) {
  /* styles here */
}